body {
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  background: linear-gradient(to right, #2b32b2, #1488cc);
  padding-top: 5px;
  text-align: center;
}
.progress-div {
  height: 4px;
}
.progress {
  display: none;
  margin: 0;
}
#head-img{
  width: 120px;
  margin: auto;
}
#select-row {
  margin-bottom: 0;
}
#btn-div {
  padding: 0 10px;
}
#loop-icon {
  -webkit-animation: rotation 1s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
#result-div {
  height: 3rem;
}
#copy-result {
  display: none;
}
#result {
  padding-left: 45px;
  margin: 0;
}
.celebrate {
  display: block;
}
#history-card {
  display: none;
  word-wrap: break-word;
  text-align: center;
  font-size: 1.2em;
  background: white;
}
#history-close, #copy-icon {
  cursor: pointer;
}
#history-ol {
  text-align: left;
  padding-right: 5%;
}
li {
  padding-bottom: 0.5em;
}
@media (max-width: 599px) {
  .card .card-content {
    padding: 0 15px 24px 15px;
  }
  #from-div, #to-div, #amount-div {
    float: none;

  }
  #from-div, #to-div{
    margin-top: 30px;
  }
  #btn-div {
    margin-bottom: 0;
  }
}