body {
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  background: linear-gradient(to right, #2b32b2, #1488cc);
  padding-top: 8%;
}
#head-img{
  width: 120px;
  margin: auto;
}
.progress {
  display: none;
}
#loop-icon {
  -webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
#result {
  display: none;
}